$columns: 12!default;
$gutter: 20px!default;
$medium: 768px;
$large: 992px;
$small:570px;
$xs:570px;

%col{
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 $gutter * 0.5;

    background-color: rgba(#000, 0.2);
    border: 1px solid rgba( #000, 0.5);
  
}

@for $i from 1 through $columns{
    .col-#{$i}{
        @extend %col;
        width: $i / $columns * 100%;
        }
        .col-m-#{$i}, .col-s-#{$i}, .col-xs-#{$i} .col-l-#{$i}{ @extend %col;}
}
@media only screen and (min-width: $medium) {
    .col-m-center{ margin: 0 auto; float: left;}
    @for $i from 1 through $columns{
        .col-m-#{$i}{
            width: $i / $columns * 100%;
            }
    }
   .col-m-hidden{display: none;}
   .col-m-visible{display: block ;}
}
@media only screen and (min-width: $large) {
    .col-l-center{ margin: 0 auto; float: left;}
    @for $i from 1 through $columns{
        .col-l-#{$i}{
            width: $i / $columns * 100%;
            }
    }
   .col-l-hidden{display: none;}
   .col-l-visible{display: block;}
}


@media only screen and (min-width: $small) {
    .col-s-center{ margin: 0 auto; float: left;}
    @for $i from 1 through $columns{
        .col-s-#{$i}{
            width: $i / $columns * 100%;
            }
    }
   .col-s-hidden{display: none;}
    .col-s-visible{display: block;}
}
@media only screen and (max-width: $xs) {
    .col-xs-center{ margin: 0 auto; float: left;}
    @for $i from 1 through $columns{
        .col-xs-#{$i}{
            width: $i / $columns * 100%;
            }
    }
   .col-s-hidden{display: none;}
    .col-s-visible{display: block;}
}
@media print {
    .hidden-print{
        visibility: hidden;
    }
}
@media print {
    .visible-print{
        visibility: visible;
    }
}

.row {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
    float: left;
  }
  .btn btn-secondary{
    background-color: red;
}
.btn btn-primary btn-lg active{
    background-color: chartreuse;
}
.img-blur{
    filter: blur(2px);
}
.navbar {
   
    overflow: hidden;
    float: left;
    text-align: center;
    float: left;
  }
  .navbar a{
      float: left;
  }
  .navbar li{
      float: left;
      padding-right: 9em;
  }